workflow_03_bestellung_v2.json
{
  "name": "03 - Bestellung speichern",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bestellung",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "webhook-bestellung",
      "name": "Webhook Bestellung",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "bestellung"
    },
    {
      "parameters": {
        "jsCode": "// POST: Bestellung speichern mit gemeinsamer Datei\nconst fs = require('fs');\nconst SHARED = '/tmp/yauno_data.json';\nlet shared = {};\ntry { shared = JSON.parse(fs.readFileSync(SHARED, 'utf8')); } catch(e) { shared = {artikel:[],bestellungen:{},tokens:{},kaeufer:[],bestellung_aktiv:true,angebot_datum:''}; }\n\nconst body = $input.first().json.body || $input.first().json;\n\n// Prüfe ob Bestellung aktiv\nif (shared.bestellung_aktiv === false) {\n  return [{ json: { error: 'Bestellfenster geschlossen', status: 403 } }];\n}\n\nconst chatId = body.chatId;\nif (!chatId) {\n  return [{ json: { error: 'Chat-ID fehlt', status: 400 } }];\n}\n\n// Token generieren oder bestehenden verwenden\nlet token = body.token;\nconst bestellungen = shared.bestellungen || {};\nconst tokens = shared.tokens || {};\n\nif (!token || !tokens[token]) {\n  token = 'ord_' + Math.random().toString(36).substr(2, 12) + Date.now().toString(36);\n}\n\n// Bestellung speichern\nbestellungen[chatId] = {\n  chatId: chatId,\n  userName: body.userName || 'Unbekannt',\n  positionen: body.positionen || [],\n  gesamtpreis: body.gesamtpreis || 0,\n  token: token,\n  zeitpunkt: body.zeitpunkt || new Date().toISOString(),\n  aktualisiert: new Date().toISOString()\n};\n\ntokens[token] = chatId;\n\n// Käufer registrieren\nconst kaeufer = shared.kaeufer || [];\nif (!kaeufer.includes(String(chatId))) {\n  kaeufer.push(String(chatId));\n}\n\nshared.bestellungen = bestellungen;\nshared.tokens = tokens;\nshared.kaeufer = kaeufer;\n\n// Gemeinsame Datei schreiben\nfs.writeFileSync(SHARED, JSON.stringify(shared, null, 2));\n\nconst isUpdate = !!body.token;\n\nreturn [{ json: {\n  success: true,\n  token: token,\n  chatId: String(chatId),\n  userName: body.userName,\n  gesamtpreis: body.gesamtpreis,\n  isUpdate: isUpdate,\n  status: 200\n}}];"
      },
      "id": "save-order",
      "name": "Bestellung speichern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.isUpdate ? '✏️' : '✅' }} *{{ $json.isUpdate ? 'Bestellung aktualisiert' : 'Bestellung eingegangen' }}!*\n\n💰 Gesamt: €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}\n\n📝 Bearbeiten:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✏️ Bestellung bearbeiten",
                      "additionalFields": {
                        "url": "=https://jade-alfajores-4f3440.netlify.app?token={{ $json.token }}"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "confirm-to-buyer",
      "name": "Bestätigung an Käufer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 400],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "=🛒 *{{ $json.isUpdate ? 'Bestellung geändert' : 'Neue Bestellung' }}*\n\n👤 {{ $json.userName }}\n💰 €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin",
      "name": "Admin benachrichtigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 400],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 400 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 480]
    }
  ],
  "connections": {
    "Webhook Bestellung": {
      "main": [[{ "node": "Bestellung speichern", "type": "main", "index": 0 }]]
    },
    "Bestellung speichern": {
      "main": [[{ "node": "Erfolgreich?", "type": "main", "index": 0 }]]
    },
    "Erfolgreich?": {
      "main": [
        [
          { "node": "Respond POST", "type": "main", "index": 0 },
          { "node": "Bestätigung an Käufer", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Bestätigung an Käufer": {
      "main": [[{ "node": "Admin benachrichtigen", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Yauno" }]
}
