workflow_02_artikel_api.json
{
  "name": "02 - Artikel API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "artikel",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-artikel",
      "name": "Webhook Artikel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "artikel"
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_BASE_URL }}/webhook/admin-artikel",
        "options": {
          "timeout": 5000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "fetch-artikel",
      "name": "Artikel von WF01 holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Prüfe ob HTTP-Request erfolgreich war\nconst artikel = input.artikel || [];\nconst bestellung_aktiv = input.bestellung_aktiv !== undefined ? input.bestellung_aktiv : false;\nconst angebot_datum = input.angebot_datum || '';\n\nreturn [{ json: {\n  artikel: artikel,\n  bestellung_aktiv: bestellung_aktiv,\n  angebot_datum: angebot_datum,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "prepare-response",
      "name": "Artikelliste vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook Artikel": {
      "main": [[{ "node": "Artikel von WF01 holen", "type": "main", "index": 0 }]]
    },
    "Artikel von WF01 holen": {
      "main": [[{ "node": "Artikelliste vorbereiten", "type": "main", "index": 0 }]]
    },
    "Artikelliste vorbereiten": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Yauno" }]
}
