workflow_03_bestellung_v2.json
{
  "name": "03 - Bestellung speichern",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "={{$parameter.httpMethod}}",
        "path": "bestellung",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "webhook-bestellung",
      "name": "Webhook Bestellung",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "bestellung"
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.headers['method'] || $json.method || 'POST' }}",
              "rightValue": "GET",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-method",
      "name": "GET oder POST?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// GET: Bestellung per Token laden (Bearbeiten-Modus)\nconst query = $input.first().json.query || {};\nconst token = query.token;\n\nif (!token) {\n  return [{ json: { error: 'Token fehlt', status: 400 } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst tokens = staticData.tokens || {};\nconst chatId = tokens[token];\n\nif (!chatId) {\n  return [{ json: { error: 'Ungültiger Token', status: 404 } }];\n}\n\nconst bestellungen = staticData.bestellungen || {};\nconst bestellung = bestellungen[chatId];\n\nif (!bestellung) {\n  return [{ json: { error: 'Bestellung nicht gefunden', status: 404 } }];\n}\n\nreturn [{ json: { ...bestellung, status: 200 } }];"
      },
      "id": "load-order",
      "name": "Bestellung laden (GET)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 200]
    },
    {
      "parameters": {
        "jsCode": "// POST: Bestellung speichern\nconst body = $input.first().json.body || $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\n// Prüfe ob Bestellung aktiv\nif (staticData.bestellung_aktiv === false) {\n  return [{ json: { error: 'Bestellfenster geschlossen', status: 403 } }];\n}\n\nconst chatId = body.chatId;\nif (!chatId) {\n  return [{ json: { error: 'Chat-ID fehlt', status: 400 } }];\n}\n\n// Token generieren oder bestehenden verwenden\nlet token = body.token;\nconst bestellungen = staticData.bestellungen || {};\nconst tokens = staticData.tokens || {};\n\nif (!token || !tokens[token]) {\n  // Neuen Token generieren\n  token = 'ord_' + Math.random().toString(36).substr(2, 12) + Date.now().toString(36);\n}\n\n// Bestellung speichern\nbestellungen[chatId] = {\n  chatId: chatId,\n  userName: body.userName || 'Unbekannt',\n  positionen: body.positionen || [],\n  gesamtpreis: body.gesamtpreis || 0,\n  token: token,\n  zeitpunkt: body.zeitpunkt || new Date().toISOString(),\n  aktualisiert: new Date().toISOString()\n};\n\ntokens[token] = chatId;\n\n// Käufer registrieren (wenn noch nicht vorhanden)\nconst kaeufer = staticData.kaeufer || [];\nif (!kaeufer.includes(String(chatId))) {\n  kaeufer.push(String(chatId));\n}\n\nstaticData.bestellungen = bestellungen;\nstaticData.tokens = tokens;\nstaticData.kaeufer = kaeufer;\n\nconst isUpdate = !!body.token;\n\nreturn [{ json: {\n  success: true,\n  token: token,\n  chatId: String(chatId),\n  userName: body.userName,\n  gesamtpreis: body.gesamtpreis,\n  isUpdate: isUpdate,\n  status: 200\n}}];"
      },
      "id": "save-order",
      "name": "Bestellung speichern (POST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 320]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.isUpdate ? '✏️' : '✅' }} *{{ $json.isUpdate ? 'Bestellung aktualisiert' : 'Bestellung eingegangen' }}!*\n\n💰 Gesamt: €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}\n\n📝 Bearbeiten:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✏️ Bestellung bearbeiten",
                      "additionalFields": {
                        "url": "=https://jade-alfajores-4f3440.netlify.app?token={{ $json.token }}"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "confirm-to-buyer",
      "name": "Bestätigung an Käufer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 480],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "ADMIN_CHAT_ID_HIER",
        "text": "=🛒 *{{ $json.isUpdate ? 'Bestellung geändert' : 'Neue Bestellung' }}*\n\n👤 {{ $json.userName }}\n💰 €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin",
      "name": "Admin benachrichtigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 480],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 400 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 560]
    }
  ],
  "connections": {
    "Webhook Bestellung": {
      "main": [[{ "node": "GET oder POST?", "type": "main", "index": 0 }]]
    },
    "GET oder POST?": {
      "main": [
        [{ "node": "Bestellung laden (GET)", "type": "main", "index": 0 }],
        [{ "node": "Bestellung speichern (POST)", "type": "main", "index": 0 }]
      ]
    },
    "Bestellung laden (GET)": {
      "main": [[{ "node": "Respond GET", "type": "main", "index": 0 }]]
    },
    "Bestellung speichern (POST)": {
      "main": [[{ "node": "Erfolgreich?", "type": "main", "index": 0 }]]
    },
    "Erfolgreich?": {
      "main": [
        [
          { "node": "Respond POST", "type": "main", "index": 0 },
          { "node": "Bestätigung an Käufer", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Bestätigung an Käufer": {
      "main": [[{ "node": "Admin benachrichtigen", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "bestellungen": {},
      "tokens": {},
      "kaeufer": [],
      "bestellung_aktiv": true
    }
  },
  "tags": [{ "name": "Yauno" }]
}
