workflow_03_bestellung_v2.json
{
  "name": "03 - Bestellung speichern",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bestellung",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "webhook-bestellung",
      "name": "Webhook Bestellung",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "bestellung"
    },
    {
      "parameters": {
        "jsCode": "// POST: Bestellung speichern\nconst body = $input.first().json.body || $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\n// Prüfe ob Bestellung aktiv\nif (staticData.bestellung_aktiv === false) {\n  return [{ json: { error: 'Bestellfenster geschlossen', status: 403 } }];\n}\n\nconst chatId = body.chatId;\nif (!chatId) {\n  return [{ json: { error: 'Chat-ID fehlt', status: 400 } }];\n}\n\n// Token generieren oder bestehenden verwenden\nlet token = body.token;\nconst bestellungen = staticData.bestellungen || {};\nconst tokens = staticData.tokens || {};\n\nif (!token || !tokens[token]) {\n  token = 'ord_' + Math.random().toString(36).substr(2, 12) + Date.now().toString(36);\n}\n\n// Mengenwarnung prüfen (>50 Einheiten)\nconst warnungen = [];\n(body.positionen || []).forEach(pos => {\n  if (pos.menge > 50) {\n    warnungen.push(pos.name + ': ' + pos.menge + ' ' + (pos.einheit || 'Stück'));\n  }\n});\n\n// Bestellung speichern\nbestellungen[chatId] = {\n  chatId: chatId,\n  userName: body.userName || 'Unbekannt',\n  positionen: body.positionen || [],\n  gesamtpreis: body.gesamtpreis || 0,\n  token: token,\n  zeitpunkt: body.zeitpunkt || new Date().toISOString(),\n  aktualisiert: new Date().toISOString()\n};\n\ntokens[token] = chatId;\n\n// Käufer registrieren (wenn noch nicht vorhanden)\nconst kaeufer = staticData.kaeufer || [];\nif (!kaeufer.includes(String(chatId))) {\n  kaeufer.push(String(chatId));\n}\n\nstaticData.bestellungen = bestellungen;\nstaticData.tokens = tokens;\nstaticData.kaeufer = kaeufer;\n\nconst isUpdate = !!body.token;\n\nreturn [{ json: {\n  success: true,\n  token: token,\n  chatId: String(chatId),\n  userName: body.userName,\n  gesamtpreis: body.gesamtpreis,\n  isUpdate: isUpdate,\n  warnungen: warnungen,\n  status: 200\n}}];"
      },
      "id": "save-order",
      "name": "Bestellung speichern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 320]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.isUpdate ? '✏️' : '✅' }} *{{ $json.isUpdate ? 'Bestellung aktualisiert' : 'Bestellung eingegangen' }}!*\n\n💰 Gesamt: €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}\n\n📝 Bearbeiten:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✏️ Bestellung bearbeiten",
                      "additionalFields": {
                        "url": "=https://jade-alfajores-4f3440.netlify.app?token={{ $json.token }}"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "confirm-to-buyer",
      "name": "Bestätigung an Käufer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 480],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "=🛒 *{{ $json.isUpdate ? 'Bestellung geändert' : 'Neue Bestellung' }}*\n\n👤 {{ $json.userName }}\n💰 €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin",
      "name": "Admin benachrichtigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 480],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.warnungen.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "check-warnung",
      "name": "Mengenwarnung?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "=⚠️ *Mengenwarnung!*\n\n👤 {{ $json.userName }} hat ungewöhnlich hohe Mengen bestellt:\n\n{{ $json.warnungen.join('\\n') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "warn-admin",
      "name": "Warnung an Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 240],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 400 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 560]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-bestellungen",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-admin-bestellungen",
      "name": "Admin Bestellungen Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 700],
      "webhookId": "admin-bestellungen"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nreturn [{ json: {\n  bestellungen: staticData.bestellungen || {},\n  tokens: staticData.tokens || {},\n  kaeufer: staticData.kaeufer || [],\n  bestellung_aktiv: staticData.bestellung_aktiv !== false\n}}];"
      },
      "id": "prepare-admin-bestellungen",
      "name": "Bestelldaten laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 700]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-admin-bestellungen",
      "name": "Respond Admin Bestellungen",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 700]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-close",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-admin-close",
      "name": "Admin Close Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 900],
      "webhookId": "admin-close"
    },
    {
      "parameters": {
        "jsCode": "// Bestellfenster schließen und Daten bereinigen\nconst staticData = $getWorkflowStaticData('global');\nstaticData.bestellung_aktiv = false;\nconst result = {\n  bestellungen: staticData.bestellungen || {},\n  tokens: staticData.tokens || {},\n  kaeufer: staticData.kaeufer || []\n};\n// Daten zurücksetzen\nstaticData.bestellungen = {};\nstaticData.tokens = {};\nreturn [{ json: result }];"
      },
      "id": "close-orders",
      "name": "Bestellungen schliessen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 900]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-admin-close",
      "name": "Respond Admin Close",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 900]
    }
  ],
  "connections": {
    "Webhook Bestellung": {
      "main": [[{ "node": "Bestellung speichern", "type": "main", "index": 0 }]]
    },
    "Bestellung speichern": {
      "main": [[{ "node": "Erfolgreich?", "type": "main", "index": 0 }]]
    },
    "Erfolgreich?": {
      "main": [
        [
          { "node": "Respond POST", "type": "main", "index": 0 },
          { "node": "Bestätigung an Käufer", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Bestätigung an Käufer": {
      "main": [[
        { "node": "Admin benachrichtigen", "type": "main", "index": 0 },
        { "node": "Mengenwarnung?", "type": "main", "index": 0 }
      ]]
    },
    "Mengenwarnung?": {
      "main": [
        [{ "node": "Warnung an Admin", "type": "main", "index": 0 }],
        []
      ]
    },
    "Admin Bestellungen Webhook": {
      "main": [[{ "node": "Bestelldaten laden", "type": "main", "index": 0 }]]
    },
    "Bestelldaten laden": {
      "main": [[{ "node": "Respond Admin Bestellungen", "type": "main", "index": 0 }]]
    },
    "Admin Close Webhook": {
      "main": [[{ "node": "Bestellungen schliessen", "type": "main", "index": 0 }]]
    },
    "Bestellungen schliessen": {
      "main": [[{ "node": "Respond Admin Close", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "bestellungen": {},
      "tokens": {},
      "kaeufer": [],
      "bestellung_aktiv": true
    }
  },
  "tags": [{ "name": "Yauno" }]
}
