workflows/workflow_01_excel_import.json
{
  "name": "01 - Excel Import & Benachrichtigung",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.message.document.mime_type }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-excel",
      "name": "Ist Excel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 1121266642,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 1127196500,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-admin",
      "name": "Ist Admin?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "options": {}
      },
      "id": "get-file-path",
      "name": "Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file",
      "name": "Download Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        240
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "sheetName": "Sheet1",
          "headerRow": false,
          "range": ""
        }
      },
      "id": "parse-excel",
      "name": "Excel zu JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1300,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Artikel aus dem Excel-Format extrahieren\n// Unterstützt Dateien mit und ohne 'Tagesangebote:'-Zeile\nconst rows = $input.all().map(i => i.json);\nlet artikel = [];\nlet kategorie = 'Allgemein';\nlet id = 1;\nlet startParsing = false;\nlet datumMatch = null;\n\nfor (const row of rows) {\n  const values = Object.values(row);\n  const joined = values.join(' ').trim();\n  \n  if (!joined) continue;\n  \n  // Lieferdatum suchen (z.B. in Header-Zeilen)\n  if (!datumMatch) {\n    const dMatch = joined.match(/(\\d{1,2}[.\\/]\\d{1,2}[.\\/]\\d{2,4})/);\n    if (dMatch) datumMatch = dMatch[1];\n  }\n  \n  // Spaltenheader erkennen → ab nächster Zeile parsen\n  const lower = joined.toLowerCase();\n  if (lower.includes('artikel') && lower.includes('preis')) {\n    startParsing = true;\n    continue;\n  }\n  \n  if (!startParsing) continue;\n  \n  // Ende erkennen\n  if (lower.includes('gesamt zu zahlen') || lower.includes('gesamtsumme')) break;\n  \n  // Kategorie-Wechsel: 'Tagesangebote' oder andere Kategoriezeilen\n  // Erkannt wenn: nur eine Spalte Text hat und kein Preis vorhanden ist\n  if (lower.includes('tagesangebote')) {\n    kategorie = 'Tagesangebote';\n    continue;\n  }\n  \n  // Weitere Kategorie-Marker erkennen (Zeile mit Text aber ohne Preis)\n  const col_B = values[1];\n  const col_D = values[3];\n  const textOnly = col_B && String(col_B).trim() !== '' && (!col_D || String(col_D).trim() === '');\n  const col_A = values[0];\n  const hasNoQty = !col_A || String(col_A).trim() === '';\n  if (textOnly && hasNoQty && String(col_B).trim().endsWith(':')) {\n    kategorie = String(col_B).trim().replace(/:$/, '');\n    continue;\n  }\n  \n  // Leere Zeile überspringen\n  if (!col_B || String(col_B).trim() === '') continue;\n  \n  const preis = parseFloat(String(col_D || '0').replace(',', '.'));\n  if (isNaN(preis) || preis <= 0) continue;\n  \n  const col_C = values[2];\n  artikel.push({\n    id: id++,\n    name: String(col_B).trim(),\n    einheit: String(col_C || '').trim() || 'Stück',\n    preis: Math.round(preis * 100) / 100,\n    kategorie: kategorie\n  });\n}\n\n// Fallback: Wenn keine Tagesangebote-Zeile vorhanden war,\n// bleiben alle Artikel in 'Allgemein' – das ist gewollt.\n\n// In Static Data speichern\nconst staticData = $getWorkflowStaticData('global');\nstaticData.artikel = artikel;\nstaticData.bestellungen = {};\nstaticData.tokens = {};\nstaticData.bestellung_aktiv = true;\nstaticData.kaeufer = staticData.kaeufer || [];\nstaticData.angebot_datum = datumMatch || new Date().toLocaleDateString('de-DE');\nstaticData.webapp_url = staticData.webapp_url || 'https://jade-alfajores-4f3440.netlify.app';\n\nreturn [{ json: { \n  artikel_count: artikel.length, \n  datum: staticData.angebot_datum,\n  artikel: artikel \n}}];"
      },
      "id": "extract-articles",
      "name": "Artikel extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ *Neues Angebot hochgeladen!*\n\n📅 Lieferdatum: {{ $json.datum }}\n📦 {{ $json.artikel_count }} Artikel geladen\n\nKäufer werden jetzt benachrichtigt.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "admin-confirm",
      "name": "Admin Bestätigung",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1740,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Käufer-Liste aus Static Data laden\nconst staticData = $getWorkflowStaticData('global');\nconst kaeufer = staticData.kaeufer || [];\n\nif (kaeufer.length === 0) {\n  return [{ json: { skip: true, message: 'Keine Käufer registriert' } }];\n}\n\nreturn kaeufer.map(chatId => ({\n  json: {\n    chatId: String(chatId),\n    datum: staticData.angebot_datum,\n    artikelCount: (staticData.artikel || []).length,\n    webapp_url: staticData.webapp_url || 'https://jade-alfajores-4f3440.netlify.app'\n  }\n}));"
      },
      "id": "get-buyers",
      "name": "Käufer laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "has-buyers",
      "name": "Käufer vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1960,
        340
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🥬 *Neues Angebot verfügbar!*\n\n📅 Lieferung: {{ $json.datum }}\n📦 {{ $json.artikelCount }} Artikel\n\n👇 Jetzt bestellen:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "🛒 Jetzt bestellen",
                      "additionalFields": {
                        "url": "={{ $json.webapp_url }}"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "notify-buyer",
      "name": "Käufer benachrichtigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2180,
        280
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Nur Admins dürfen Angebote hochladen.",
        "additionalFields": {}
      },
      "id": "not-admin-reply",
      "name": "Nicht Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        860,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/admin-close",
        "options": {
          "timeout": 5000
        }
      },
      "id": "reset-orders",
      "name": "Alte Bestellungen löschen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-artikel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-admin-artikel",
      "name": "Webhook Admin Artikel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        600
      ],
      "webhookId": "admin-artikel"
    },
    {
      "parameters": {
        "jsCode": "// Admin-Endpoint: Artikeldaten für andere Workflows bereitstellen\nconst staticData = $getWorkflowStaticData('global');\nreturn [{ json: {\n  artikel: staticData.artikel || [],\n  bestellung_aktiv: staticData.bestellung_aktiv !== false,\n  angebot_datum: staticData.angebot_datum || '',\n  kaeufer: staticData.kaeufer || [],\n  webapp_url: staticData.webapp_url || 'https://jade-alfajores-4f3440.netlify.app'\n}}];"
      },
      "id": "admin-artikel-data",
      "name": "Admin Artikeldaten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        600
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "admin-artikel-respond",
      "name": "Admin Artikel Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        600
      ]
    },
    {
      "id": "admins-wf01",
      "name": "Admins WF01",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        160
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ADMINS = ['1121266642', '1127196500'];\nreturn ADMINS.map(id => ({\n  json: { ...item.json, chatId: id },\n  binary: item.binary\n}));"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Ist Excel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist Excel?": {
      "main": [
        [
          {
            "node": "Ist Admin?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ist Admin?": {
      "main": [
        [
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nicht Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "Download Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel": {
      "main": [
        [
          {
            "node": "Excel zu JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel zu JSON": {
      "main": [
        [
          {
            "node": "Alte Bestellungen löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alte Bestellungen löschen": {
      "main": [
        [
          {
            "node": "Artikel extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artikel extrahieren": {
      "main": [
        [
          {
            "node": "Admins WF01",
            "type": "main",
            "index": 0
          },
          {
            "node": "Käufer laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Käufer laden": {
      "main": [
        [
          {
            "node": "Käufer vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Käufer vorhanden?": {
      "main": [
        [
          {
            "node": "Käufer benachrichtigen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook Admin Artikel": {
      "main": [
        [
          {
            "node": "Admin Artikeldaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Artikeldaten": {
      "main": [
        [
          {
            "node": "Admin Artikel Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admins WF01": {
      "main": [
        [
          {
            "node": "Admin Bestätigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "artikel": [],
      "bestellungen": {},
      "tokens": {},
      "bestellung_aktiv": false,
      "kaeufer": [],
      "angebot_datum": "",
      "webapp_url": "https://jade-alfajores-4f3440.netlify.app"
    }
  },
  "tags": [
    {
      "name": "Yauno"
    }
  ]
}