workflows/workflow_03_bestellung_v2.json
{
  "name": "03 - Bestellung speichern",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bestellung",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "webhook-bestellung",
      "name": "Webhook Bestellung",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "bestellung"
    },
    {
      "parameters": {
        "jsCode": "// POST: Bestellung speichern\nconst body = $input.first().json.body || $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\n// Prüfe ob Bestellung aktiv\nif (staticData.bestellung_aktiv === false) {\n  return [{ json: { error: 'Bestellfenster geschlossen', status: 403 } }];\n}\n\nconst chatId = body.chatId;\nif (!chatId) {\n  return [{ json: { error: 'Chat-ID fehlt', status: 400 } }];\n}\n\n// Token generieren oder bestehenden verwenden\nlet token = body.token;\nconst bestellungen = staticData.bestellungen || {};\nconst tokens = staticData.tokens || {};\n\nif (!token || !tokens[token]) {\n  // Neuen Token generieren\n  token = 'ord_' + Math.random().toString(36).substr(2, 12) + Date.now().toString(36);\n}\n\n// Bestellung speichern\nbestellungen[chatId] = {\n  chatId: chatId,\n  userName: body.userName || 'Unbekannt',\n  positionen: body.positionen || [],\n  gesamtpreis: body.gesamtpreis || 0,\n  token: token,\n  zeitpunkt: body.zeitpunkt || new Date().toISOString(),\n  aktualisiert: new Date().toISOString()\n};\n\ntokens[token] = chatId;\n\n// Käufer registrieren (wenn noch nicht vorhanden)\nconst kaeufer = staticData.kaeufer || [];\nif (!kaeufer.includes(String(chatId))) {\n  kaeufer.push(String(chatId));\n}\n\nstaticData.bestellungen = bestellungen;\nstaticData.tokens = tokens;\nstaticData.kaeufer = kaeufer;\n\nconst isUpdate = !!body.token;\n\n// Prüfe auf ungewöhnlich hohe Mengen (>50 Einheiten)\nconst highQtyItems = (body.positionen || []).filter(p => p.menge > 50);\n\nreturn [{ json: {\n  success: true,\n  token: token,\n  chatId: String(chatId),\n  userName: body.userName,\n  gesamtpreis: body.gesamtpreis,\n  isUpdate: isUpdate,\n  highQtyWarning: highQtyItems.length > 0,\n  highQtyItems: highQtyItems.map(p => p.name + ' (' + p.menge + 'x)').join(', '),\n  webapp_url: staticData.webapp_url || 'https://jade-alfajores-4f3440.netlify.app',\n  status: 200\n}}];"
      },
      "id": "save-order",
      "name": "Bestellung speichern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-post",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        220
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.isUpdate ? '✏️' : '✅' }} *{{ $json.isUpdate ? 'Bestellung aktualisiert' : 'Bestellung eingegangen' }}!*\n\n💰 Gesamt: €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}\n\n📝 Bearbeiten:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✏️ Bestellung bearbeiten",
                      "additionalFields": {
                        "url": "={{ $json.webapp_url }}?token={{ $json.token }}"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "confirm-to-buyer",
      "name": "Bestätigung an Käufer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        860,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🛒 *{{ $json.isUpdate ? 'Bestellung geändert' : 'Neue Bestellung' }}*\n\n👤 {{ $json.userName }}\n💰 €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin",
      "name": "Admin benachrichtigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1080,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.highQtyWarning }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-high-qty",
      "name": "Hohe Menge?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⚠️ *Mengenwarnung!*\n\n👤 {{ $json.userName }} hat ungewöhnlich hohe Mengen bestellt:\n📦 {{ $json.highQtyItems }}\n\n💰 Gesamt: €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "warn-admin-qty",
      "name": "Mengenwarnung an Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        340
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-bestellungen",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-admin-orders",
      "name": "Webhook Admin Bestellungen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        700
      ],
      "webhookId": "admin-bestellungen"
    },
    {
      "parameters": {
        "jsCode": "// Admin-Endpoint: Alle Bestelldaten für andere Workflows bereitstellen\nconst staticData = $getWorkflowStaticData('global');\nreturn [{ json: {\n  bestellungen: staticData.bestellungen || {},\n  tokens: staticData.tokens || {},\n  kaeufer: staticData.kaeufer || [],\n  bestellung_aktiv: staticData.bestellung_aktiv !== false\n}}];"
      },
      "id": "admin-orders-data",
      "name": "Admin Bestelldaten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        700
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "admin-orders-respond",
      "name": "Admin Bestellungen Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-close",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-admin-close",
      "name": "Webhook Admin Close",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        900
      ],
      "webhookId": "admin-close"
    },
    {
      "parameters": {
        "jsCode": "// Admin-Endpoint: Bestellfenster schließen und Daten bereinigen\nconst staticData = $getWorkflowStaticData('global');\nstaticData.bestellungen = {};\nstaticData.tokens = {};\nstaticData.bestellung_aktiv = false;\n// Käufer bleiben erhalten für nächste Woche\nreturn [{ json: { success: true, message: 'Bestellungen geschlossen und bereinigt' } }];"
      },
      "id": "admin-close-data",
      "name": "Bestellungen schließen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        900
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "admin-close-respond",
      "name": "Admin Close Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        900
      ]
    },
    {
      "id": "admins-notify",
      "name": "Admins Admin Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        400
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ADMINS = ['1121266642', '1127196500'];\nreturn ADMINS.map(id => ({\n  json: { ...item.json, chatId: id },\n  binary: item.binary\n}));"
      }
    },
    {
      "id": "admins-qty",
      "name": "Admins Mengenwarnung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        340
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ADMINS = ['1121266642', '1127196500'];\nreturn ADMINS.map(id => ({\n  json: { ...item.json, chatId: id },\n  binary: item.binary\n}));"
      }
    }
  ],
  "connections": {
    "Webhook Bestellung": {
      "main": [
        [
          {
            "node": "Bestellung speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestellung speichern": {
      "main": [
        [
          {
            "node": "Erfolgreich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erfolgreich?": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bestätigung an Käufer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestätigung an Käufer": {
      "main": [
        [
          {
            "node": "Admins Admin Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin benachrichtigen": {
      "main": [
        [
          {
            "node": "Hohe Menge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hohe Menge?": {
      "main": [
        [
          {
            "node": "Admins Mengenwarnung",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook Admin Bestellungen": {
      "main": [
        [
          {
            "node": "Admin Bestelldaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Bestelldaten": {
      "main": [
        [
          {
            "node": "Admin Bestellungen Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Admin Close": {
      "main": [
        [
          {
            "node": "Bestellungen schließen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestellungen schließen": {
      "main": [
        [
          {
            "node": "Admin Close Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admins Admin Notify": {
      "main": [
        [
          {
            "node": "Admin benachrichtigen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admins Mengenwarnung": {
      "main": [
        [
          {
            "node": "Mengenwarnung an Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "bestellungen": {},
      "tokens": {},
      "kaeufer": [],
      "bestellung_aktiv": true,
      "webapp_url": "https://jade-alfajores-4f3440.netlify.app"
    }
  },
  "tags": [
    {
      "name": "Yauno"
    }
  ]
}