workflows/workflow_04_abschluss.json
{
  "name": "04 - Bestellschluss & Auswertung",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 3"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Mittwoch 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_BASE_URL }}/webhook/admin-bestellungen",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-orders",
      "name": "Bestellungen von WF03 laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_BASE_URL }}/webhook/admin-artikel",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-artikel",
      "name": "Artikel von WF01 laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Bestelldaten aus WF03 und Artikeldaten aus WF01 zusammenführen\nconst orderData = $('Bestellungen von WF03 laden').first().json;\nconst artikelData = $('Artikel von WF01 laden').first().json;\n\nconst bestellungen = orderData.bestellungen || {};\nconst artikel = artikelData.artikel || [];\nconst datum = artikelData.angebot_datum || '';\n\nconst alleBestellungen = Object.values(bestellungen);\n\nif (alleBestellungen.length === 0) {\n  return [{ json: { \n    leer: true, \n    message: 'Keine Bestellungen eingegangen',\n    datum: datum\n  }}];\n}\n\n// Zusammenfassung erstellen\nlet artikelSummen = {};\nlet gesamtUmsatz = 0;\n\nalleBestellungen.forEach(best => {\n  (best.positionen || []).forEach(pos => {\n    const key = pos.artikelId || pos.name;\n    if (!artikelSummen[key]) {\n      artikelSummen[key] = {\n        name: pos.name,\n        einheit: pos.einheit,\n        preis: pos.preis,\n        gesamtMenge: 0,\n        gesamtSumme: 0\n      };\n    }\n    artikelSummen[key].gesamtMenge += pos.menge;\n    artikelSummen[key].gesamtSumme += pos.summe || (pos.menge * pos.preis);\n  });\n  gesamtUmsatz += best.gesamtpreis || 0;\n});\n\n// Daten für Excel vorbereiten\nconst excelRows = [];\n\n// Header\nexcelRows.push({\n  A: 'Yauno Bestellauswertung',\n  B: '',\n  C: '',\n  D: '',\n  E: ''\n});\nexcelRows.push({\n  A: 'Lieferdatum: ' + datum,\n  B: '',\n  C: 'Erstellt: ' + new Date().toLocaleString('de-DE'),\n  D: '',\n  E: ''\n});\nexcelRows.push({ A: '', B: '', C: '', D: '', E: '' });\n\n// TEIL 1: Artikel-Zusammenfassung\nexcelRows.push({\n  A: 'ARTIKELÜBERSICHT',\n  B: '',\n  C: '',\n  D: '',\n  E: ''\n});\nexcelRows.push({\n  A: 'Artikel',\n  B: 'Einheit',\n  C: 'Einzelpreis',\n  D: 'Gesamt Menge',\n  E: 'Gesamt Summe'\n});\n\nObject.values(artikelSummen)\n  .sort((a, b) => a.name.localeCompare(b.name))\n  .forEach(art => {\n    excelRows.push({\n      A: art.name,\n      B: art.einheit,\n      C: art.preis,\n      D: art.gesamtMenge,\n      E: Math.round(art.gesamtSumme * 100) / 100\n    });\n  });\n\nexcelRows.push({ A: '', B: '', C: '', D: 'GESAMT:', E: Math.round(gesamtUmsatz * 100) / 100 });\nexcelRows.push({ A: '', B: '', C: '', D: '', E: '' });\n\n// TEIL 2: Einzelbestellungen\nexcelRows.push({\n  A: 'EINZELBESTELLUNGEN',\n  B: '',\n  C: '',\n  D: '',\n  E: ''\n});\n\nalleBestellungen.forEach(best => {\n  excelRows.push({\n    A: '👤 ' + (best.userName || 'Unbekannt'),\n    B: 'Chat: ' + best.chatId,\n    C: '',\n    D: 'Summe:',\n    E: best.gesamtpreis\n  });\n  (best.positionen || []).forEach(pos => {\n    excelRows.push({\n      A: '  ' + pos.name,\n      B: pos.einheit,\n      C: pos.preis,\n      D: pos.menge,\n      E: pos.summe || (pos.menge * pos.preis)\n    });\n  });\n  excelRows.push({ A: '', B: '', C: '', D: '', E: '' });\n});\n\nreturn [{ json: {\n  leer: false,\n  rows: excelRows,\n  datum: datum,\n  anzahlBestellungen: alleBestellungen.length,\n  gesamtUmsatz: Math.round(gesamtUmsatz * 100) / 100\n}}];"
      },
      "id": "prepare-summary",
      "name": "Auswertung vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.leer }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "has-orders",
      "name": "Bestellungen vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Zeilen für Excel splitten\nconst rows = $input.first().json.rows;\nreturn rows.map(row => ({ json: row }));"
      },
      "id": "split-rows",
      "name": "Zeilen aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        240
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {
          "fileName": "=Auswertung_{{ $('Auswertung vorbereiten').item.json.datum.replace(/\\./g, '_') }}.xlsx"
        }
      },
      "id": "create-excel",
      "name": "Excel erstellen",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1360,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=📊 *Bestellschluss – Auswertung*\n\n📅 Lieferdatum: {{ $('Auswertung vorbereiten').item.json.datum }}\n🛒 {{ $('Auswertung vorbereiten').item.json.anzahlBestellungen }} Bestellungen\n💰 Gesamt: €{{ $('Auswertung vorbereiten').item.json.gesamtUmsatz.toFixed(2).replace('.', ',') }}\n\n📎 Excel-Auswertung siehe Anhang ⬇️",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-summary-msg",
      "name": "Zusammenfassung senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.chatId }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "📊 Bestellauswertung"
        }
      },
      "id": "send-excel",
      "name": "Excel senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        340
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/admin-close",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cleanup",
      "name": "Aufräumen (WF03 schließen)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "📭 Bestellschluss – Keine Bestellungen diese Woche eingegangen.",
        "additionalFields": {}
      },
      "id": "no-orders-msg",
      "name": "Keine Bestellungen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/admin-close",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cleanup-no-orders",
      "name": "Aufräumen keine Bestellungen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        420
      ]
    },
    {
      "id": "admins-abschluss",
      "name": "Admins Abschluss",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        260
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ADMINS = ['1121266642', '1127196500'];\nreturn ADMINS.map(id => ({\n  json: { ...item.json, chatId: id },\n  binary: item.binary\n}));"
      }
    },
    {
      "id": "admins-keine",
      "name": "Admins Keine Bestellung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        420
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ADMINS = ['1121266642', '1127196500'];\nreturn ADMINS.map(id => ({\n  json: { ...item.json, chatId: id },\n  binary: item.binary\n}));"
      }
    }
  ],
  "connections": {
    "Mittwoch 20:00": {
      "main": [
        [
          {
            "node": "Bestellungen von WF03 laden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Artikel von WF01 laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestellungen von WF03 laden": {
      "main": [
        [
          {
            "node": "Auswertung vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artikel von WF01 laden": {
      "main": [
        [
          {
            "node": "Auswertung vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auswertung vorbereiten": {
      "main": [
        [
          {
            "node": "Bestellungen vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestellungen vorhanden?": {
      "main": [
        [
          {
            "node": "Zeilen aufteilen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admins Keine Bestellung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zeilen aufteilen": {
      "main": [
        [
          {
            "node": "Excel erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel erstellen": {
      "main": [
        [
          {
            "node": "Admins Abschluss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel senden": {
      "main": [
        [
          {
            "node": "Aufräumen (WF03 schließen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keine Bestellungen": {
      "main": [
        [
          {
            "node": "Aufräumen keine Bestellungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admins Abschluss": {
      "main": [
        [
          {
            "node": "Zusammenfassung senden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Excel senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admins Keine Bestellung": {
      "main": [
        [
          {
            "node": "Keine Bestellungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Yauno"
    }
  ]
}