workflows/workflow_02_artikel_api.json
{
  "name": "02 - Artikel API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "artikel",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-artikel",
      "name": "Webhook Artikel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "artikel"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/admin-artikel",
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-artikel",
      "name": "Artikel von WF01 laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// Daten aus WF01 Admin-Endpoint aufbereiten\nconst data = $input.first().json;\n\nreturn [{ json: {\n  artikel: data.artikel || [],\n  bestellung_aktiv: data.bestellung_aktiv !== false,\n  angebot_datum: data.angebot_datum || '',\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "prepare-response",
      "name": "Artikelliste vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook Artikel": {
      "main": [[{ "node": "Artikel von WF01 laden", "type": "main", "index": 0 }]]
    },
    "Artikel von WF01 laden": {
      "main": [[{ "node": "Artikelliste vorbereiten", "type": "main", "index": 0 }]]
    },
    "Artikelliste vorbereiten": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Yauno" }]
}
