workflows/workflow_komplett.json
{
  "name": "Yauno Bestellsystem",
  "nodes": [

    {"_comment": "============ BEREICH 1: EXCEL IMPORT & BENACHRICHTIGUNG ============"},

    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.message.document.mime_type }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-excel",
      "name": "Ist Excel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "1121266642",
              "operator": { "type": "number", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-admin",
      "name": "Ist Admin?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 240]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "options": {}
      },
      "id": "get-file-path",
      "name": "Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 240]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file",
      "name": "Download Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 240]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "sheetName": "Sheet1",
          "headerRow": false,
          "range": ""
        }
      },
      "id": "parse-excel",
      "name": "Excel zu JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1300, 240]
    },
    {
      "parameters": {
        "jsCode": "// Artikel aus dem Excel-Format extrahieren\n// Unterstuetzt Dateien mit und ohne 'Tagesangebote:'-Zeile\nconst rows = $input.all().map(i => i.json);\nlet artikel = [];\nlet kategorie = 'Allgemein';\nlet id = 1;\nlet startParsing = false;\nlet datumMatch = null;\n\nfor (const row of rows) {\n  const values = Object.values(row);\n  const joined = values.join(' ').trim();\n  \n  if (!joined) continue;\n  \n  // Lieferdatum suchen (z.B. in Header-Zeilen)\n  if (!datumMatch) {\n    const dMatch = joined.match(/(\\d{1,2}[.\\/]\\d{1,2}[.\\/]\\d{2,4})/);\n    if (dMatch) datumMatch = dMatch[1];\n  }\n  \n  // Spaltenheader erkennen -> ab naechster Zeile parsen\n  const lower = joined.toLowerCase();\n  if (lower.includes('artikel') && lower.includes('preis')) {\n    startParsing = true;\n    continue;\n  }\n  \n  if (!startParsing) continue;\n  \n  // Ende erkennen\n  if (lower.includes('gesamt zu zahlen') || lower.includes('gesamtsumme')) break;\n  \n  // Kategorie-Wechsel: 'Tagesangebote' oder andere Kategoriezeilen\n  if (lower.includes('tagesangebote')) {\n    kategorie = 'Tagesangebote';\n    continue;\n  }\n  \n  // Weitere Kategorie-Marker erkennen (Zeile mit Text aber ohne Preis)\n  const col_B = values[1];\n  const col_D = values[3];\n  const textOnly = col_B && String(col_B).trim() !== '' && (!col_D || String(col_D).trim() === '');\n  const col_A = values[0];\n  const hasNoQty = !col_A || String(col_A).trim() === '';\n  if (textOnly && hasNoQty && String(col_B).trim().endsWith(':')) {\n    kategorie = String(col_B).trim().replace(/:$/, '');\n    continue;\n  }\n  \n  // Leere Zeile ueberspringen\n  if (!col_B || String(col_B).trim() === '') continue;\n  \n  const preis = parseFloat(String(col_D || '0').replace(',', '.'));\n  if (isNaN(preis) || preis <= 0) continue;\n  \n  const col_C = values[2];\n  artikel.push({\n    id: id++,\n    name: String(col_B).trim(),\n    einheit: String(col_C || '').trim() || 'Stueck',\n    preis: Math.round(preis * 100) / 100,\n    kategorie: kategorie\n  });\n}\n\n// In Static Data speichern (geteilt mit allen Triggern im Workflow)\nconst staticData = $getWorkflowStaticData('global');\nstaticData.artikel = artikel;\nstaticData.bestellungen = {};\nstaticData.tokens = {};\nstaticData.bestellung_aktiv = true;\nstaticData.kaeufer = staticData.kaeufer || [];\nstaticData.angebot_datum = datumMatch || new Date().toLocaleDateString('de-DE');\nstaticData.webapp_url = staticData.webapp_url || 'https://jade-alfajores-4f3440.netlify.app';\n\nreturn [{ json: { \n  artikel_count: artikel.length, \n  datum: staticData.angebot_datum,\n  artikel: artikel \n}}];"
      },
      "id": "extract-articles",
      "name": "Artikel extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 240]
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "=✅ *Neues Angebot hochgeladen!*\n\n📅 Lieferdatum: {{ $json.datum }}\n📦 {{ $json.artikel_count }} Artikel geladen\n\nKäufer werden jetzt benachrichtigt.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "admin-confirm",
      "name": "Admin Bestaetigung",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1740, 160],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kaeufer-Liste aus Static Data laden\nconst staticData = $getWorkflowStaticData('global');\nconst kaeufer = staticData.kaeufer || [];\n\nif (kaeufer.length === 0) {\n  return [{ json: { skip: true, message: 'Keine Kaeufer registriert' } }];\n}\n\nreturn kaeufer.map(chatId => ({\n  json: {\n    chatId: String(chatId),\n    datum: staticData.angebot_datum,\n    artikelCount: (staticData.artikel || []).length,\n    webapp_url: staticData.webapp_url || 'https://jade-alfajores-4f3440.netlify.app'\n  }\n}));"
      },
      "id": "get-buyers",
      "name": "Kaeufer laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "has-buyers",
      "name": "Kaeufer vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1960, 340]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🥬 *Neues Angebot verfügbar!*\n\n📅 Lieferung: {{ $json.datum }}\n📦 {{ $json.artikelCount }} Artikel\n\n👇 Jetzt bestellen:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "🛒 Jetzt bestellen",
                      "additionalFields": {
                        "url": "={{ $json.webapp_url }}"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "notify-buyer",
      "name": "Kaeufer benachrichtigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2180, 280],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Nur Admins dürfen Angebote hochladen.",
        "additionalFields": {}
      },
      "id": "not-admin-reply",
      "name": "Nicht Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 420],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },

    {"_comment": "============ BEREICH 2: ARTIKEL API (GET /webhook/artikel) ============"},

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "artikel",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-artikel",
      "name": "Webhook Artikel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 700],
      "webhookId": "artikel"
    },
    {
      "parameters": {
        "jsCode": "// Artikeldaten direkt aus geteilter Static Data lesen\nconst staticData = $getWorkflowStaticData('global');\n\nreturn [{ json: {\n  artikel: staticData.artikel || [],\n  bestellung_aktiv: staticData.bestellung_aktiv !== false,\n  angebot_datum: staticData.angebot_datum || '',\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "prepare-artikel-response",
      "name": "Artikelliste vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 700]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-artikel",
      "name": "Respond Artikel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 700]
    },

    {"_comment": "============ BEREICH 3: BESTELLUNG SPEICHERN (POST /webhook/bestellung) ============"},

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bestellung",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "webhook-bestellung",
      "name": "Webhook Bestellung",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1000],
      "webhookId": "bestellung"
    },
    {
      "parameters": {
        "jsCode": "// POST: Bestellung speichern (direkt in geteilter Static Data)\nconst body = $input.first().json.body || $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\n// Prüfe ob Bestellung aktiv\nif (staticData.bestellung_aktiv === false) {\n  return [{ json: { error: 'Bestellfenster geschlossen', status: 403 } }];\n}\n\nconst chatId = body.chatId;\nif (!chatId) {\n  return [{ json: { error: 'Chat-ID fehlt', status: 400 } }];\n}\n\n// Token generieren oder bestehenden verwenden\nlet token = body.token;\nconst bestellungen = staticData.bestellungen || {};\nconst tokens = staticData.tokens || {};\n\nif (!token || !tokens[token]) {\n  token = 'ord_' + Math.random().toString(36).substr(2, 12) + Date.now().toString(36);\n}\n\n// Bestellung speichern\nbestellungen[chatId] = {\n  chatId: chatId,\n  userName: body.userName || 'Unbekannt',\n  positionen: body.positionen || [],\n  gesamtpreis: body.gesamtpreis || 0,\n  token: token,\n  zeitpunkt: body.zeitpunkt || new Date().toISOString(),\n  aktualisiert: new Date().toISOString()\n};\n\ntokens[token] = chatId;\n\n// Kaeufer registrieren (wenn noch nicht vorhanden)\nconst kaeufer = staticData.kaeufer || [];\nif (!kaeufer.includes(String(chatId))) {\n  kaeufer.push(String(chatId));\n}\n\nstaticData.bestellungen = bestellungen;\nstaticData.tokens = tokens;\nstaticData.kaeufer = kaeufer;\n\nconst isUpdate = !!body.token;\n\n// Prüfe auf ungewoehnlich hohe Mengen (>50 Einheiten)\nconst highQtyItems = (body.positionen || []).filter(p => p.menge > 50);\n\nreturn [{ json: {\n  success: true,\n  token: token,\n  chatId: String(chatId),\n  userName: body.userName,\n  gesamtpreis: body.gesamtpreis,\n  isUpdate: isUpdate,\n  highQtyWarning: highQtyItems.length > 0,\n  highQtyItems: highQtyItems.map(p => p.name + ' (' + p.menge + 'x)').join(', '),\n  webapp_url: staticData.webapp_url || 'https://jade-alfajores-4f3440.netlify.app',\n  status: 200\n}}];"
      },
      "id": "save-order",
      "name": "Bestellung speichern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 1000]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-post",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 920]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.isUpdate ? '✏️' : '✅' }} *{{ $json.isUpdate ? 'Bestellung aktualisiert' : 'Bestellung eingegangen' }}!*\n\n💰 Gesamt: €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}\n\n📝 Bearbeiten:",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✏️ Bestellung bearbeiten",
                      "additionalFields": {
                        "url": "={{ $json.webapp_url }}?token={{ $json.token }}"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "confirm-to-buyer",
      "name": "Bestaetigung an Kaeufer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 1100],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "=🛒 *{{ $json.isUpdate ? 'Bestellung geändert' : 'Neue Bestellung' }}*\n\n👤 {{ $json.userName }}\n💰 €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin",
      "name": "Admin benachrichtigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 1100],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.status || 400 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 1180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.highQtyWarning }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-high-qty",
      "name": "Hohe Menge?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 1100]
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "=⚠️ *Mengenwarnung!*\n\n👤 {{ $json.userName }} hat ungewöhnlich hohe Mengen bestellt:\n📦 {{ $json.highQtyItems }}\n\n💰 Gesamt: €{{ $json.gesamtpreis.toFixed(2).replace('.', ',') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "warn-admin-qty",
      "name": "Mengenwarnung an Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1520, 1040],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },

    {"_comment": "============ BEREICH 4: CRON BESTELLSCHLUSS (Mi 20:00) ============"},

    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 3"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Mittwoch 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 1500]
    },
    {
      "parameters": {
        "jsCode": "// Bestelldaten und Artikeldaten direkt aus geteilter Static Data lesen\nconst staticData = $getWorkflowStaticData('global');\n\nconst bestellungen = staticData.bestellungen || {};\nconst artikel = staticData.artikel || [];\nconst datum = staticData.angebot_datum || '';\n\nconst alleBestellungen = Object.values(bestellungen);\n\nif (alleBestellungen.length === 0) {\n  return [{ json: { \n    leer: true, \n    message: 'Keine Bestellungen eingegangen',\n    datum: datum\n  }}];\n}\n\n// Zusammenfassung erstellen\nlet artikelSummen = {};\nlet gesamtUmsatz = 0;\n\nalleBestellungen.forEach(best => {\n  (best.positionen || []).forEach(pos => {\n    const key = pos.artikelId || pos.name;\n    if (!artikelSummen[key]) {\n      artikelSummen[key] = {\n        name: pos.name,\n        einheit: pos.einheit,\n        preis: pos.preis,\n        gesamtMenge: 0,\n        gesamtSumme: 0\n      };\n    }\n    artikelSummen[key].gesamtMenge += pos.menge;\n    artikelSummen[key].gesamtSumme += pos.summe || (pos.menge * pos.preis);\n  });\n  gesamtUmsatz += best.gesamtpreis || 0;\n});\n\n// Daten fuer Excel vorbereiten\nconst excelRows = [];\n\nexcelRows.push({ A: 'Yauno Bestellauswertung', B: '', C: '', D: '', E: '' });\nexcelRows.push({ A: 'Lieferdatum: ' + datum, B: '', C: 'Erstellt: ' + new Date().toLocaleString('de-DE'), D: '', E: '' });\nexcelRows.push({ A: '', B: '', C: '', D: '', E: '' });\n\n// TEIL 1: Artikel-Zusammenfassung\nexcelRows.push({ A: 'ARTIKELUEBERSICHT', B: '', C: '', D: '', E: '' });\nexcelRows.push({ A: 'Artikel', B: 'Einheit', C: 'Einzelpreis', D: 'Gesamt Menge', E: 'Gesamt Summe' });\n\nObject.values(artikelSummen)\n  .sort((a, b) => a.name.localeCompare(b.name))\n  .forEach(art => {\n    excelRows.push({\n      A: art.name,\n      B: art.einheit,\n      C: art.preis,\n      D: art.gesamtMenge,\n      E: Math.round(art.gesamtSumme * 100) / 100\n    });\n  });\n\nexcelRows.push({ A: '', B: '', C: '', D: 'GESAMT:', E: Math.round(gesamtUmsatz * 100) / 100 });\nexcelRows.push({ A: '', B: '', C: '', D: '', E: '' });\n\n// TEIL 2: Einzelbestellungen\nexcelRows.push({ A: 'EINZELBESTELLUNGEN', B: '', C: '', D: '', E: '' });\n\nalleBestellungen.forEach(best => {\n  excelRows.push({\n    A: best.userName || 'Unbekannt',\n    B: 'Chat: ' + best.chatId,\n    C: '',\n    D: 'Summe:',\n    E: best.gesamtpreis\n  });\n  (best.positionen || []).forEach(pos => {\n    excelRows.push({\n      A: '  ' + pos.name,\n      B: pos.einheit,\n      C: pos.preis,\n      D: pos.menge,\n      E: pos.summe || (pos.menge * pos.preis)\n    });\n  });\n  excelRows.push({ A: '', B: '', C: '', D: '', E: '' });\n});\n\nreturn [{ json: {\n  leer: false,\n  rows: excelRows,\n  datum: datum,\n  anzahlBestellungen: alleBestellungen.length,\n  gesamtUmsatz: Math.round(gesamtUmsatz * 100) / 100\n}}];"
      },
      "id": "prepare-summary",
      "name": "Auswertung vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 1500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.leer }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "has-orders",
      "name": "Bestellungen vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 1500]
    },
    {
      "parameters": {
        "jsCode": "// Zeilen fuer Excel splitten\nconst rows = $input.first().json.rows;\nreturn rows.map(row => ({ json: row }));"
      },
      "id": "split-rows",
      "name": "Zeilen aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 1440]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {
          "fileName": "=Auswertung_{{ $('Auswertung vorbereiten').item.json.datum.replace(/\\./g, '_') }}.xlsx"
        }
      },
      "id": "create-excel",
      "name": "Excel erstellen",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1080, 1440]
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "=📊 *Bestellschluss – Auswertung*\n\n📅 Lieferdatum: {{ $('Auswertung vorbereiten').item.json.datum }}\n🛒 {{ $('Auswertung vorbereiten').item.json.anzahlBestellungen }} Bestellungen\n💰 Gesamt: €{{ $('Auswertung vorbereiten').item.json.gesamtUmsatz.toFixed(2).replace('.', ',') }}\n\n📎 Excel-Auswertung siehe Anhang ⬇️",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-summary-msg",
      "name": "Zusammenfassung senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 1360],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "1121266642",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "📊 Bestellauswertung"
        }
      },
      "id": "send-excel",
      "name": "Excel senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 1540],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bestellfenster schliessen und Daten bereinigen (direkt in Static Data)\nconst staticData = $getWorkflowStaticData('global');\nstaticData.bestellungen = {};\nstaticData.tokens = {};\nstaticData.bestellung_aktiv = false;\n// Kaeufer bleiben erhalten fuer naechste Woche\nreturn [{ json: { success: true, message: 'Bestellungen geschlossen und bereinigt' } }];"
      },
      "id": "cleanup",
      "name": "Aufraeumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 1540]
    },
    {
      "parameters": {
        "chatId": "1121266642",
        "text": "📭 Bestellschluss – Keine Bestellungen diese Woche eingegangen.",
        "additionalFields": {}
      },
      "id": "no-orders-msg",
      "name": "Keine Bestellungen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 1620],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bestellfenster schliessen (keine Bestellungen)\nconst staticData = $getWorkflowStaticData('global');\nstaticData.bestellungen = {};\nstaticData.tokens = {};\nstaticData.bestellung_aktiv = false;\nreturn [{ json: { success: true } }];"
      },
      "id": "cleanup-no-orders",
      "name": "Aufraeumen (keine Bestellungen)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 1620]
    },

    {"_comment": "============ BEREICH 5: BESTELLUNG LADEN PER TOKEN (GET /webhook/bestellung-get) ============"},

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "bestellung-get",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-get-order",
      "name": "Webhook GET Bestellung",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1900],
      "webhookId": "bestellung-get"
    },
    {
      "parameters": {
        "jsCode": "// Bestellung per Token laden (direkt aus geteilter Static Data)\nconst query = $('Webhook GET Bestellung').first().json.query || {};\nconst token = query.token;\n\nif (!token) {\n  return [{ json: { \n    error: 'Token parameter fehlt', \n    code: 400 \n  }}];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst tokens = staticData.tokens || {};\nconst chatId = tokens[token];\n\nif (!chatId) {\n  return [{ json: { \n    error: 'Ungueltiger oder abgelaufener Token', \n    code: 404 \n  }}];\n}\n\nconst bestellungen = staticData.bestellungen || {};\nconst bestellung = bestellungen[chatId];\n\nif (!bestellung) {\n  return [{ json: { \n    error: 'Bestellung nicht gefunden', \n    code: 404 \n  }}];\n}\n\nreturn [{ json: {\n  chatId: bestellung.chatId,\n  userName: bestellung.userName,\n  positionen: bestellung.positionen,\n  gesamtpreis: bestellung.gesamtpreis,\n  token: token,\n  zeitpunkt: bestellung.zeitpunkt,\n  code: 200\n}}];"
      },
      "id": "load-order-by-token",
      "name": "Bestellung per Token laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 1900]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.code || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-order",
      "name": "Respond Bestellung",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 1900]
    }
  ],
  "connections": {

    "Telegram Trigger": {
      "main": [[{ "node": "Ist Excel?", "type": "main", "index": 0 }]]
    },
    "Ist Excel?": {
      "main": [
        [{ "node": "Ist Admin?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Ist Admin?": {
      "main": [
        [{ "node": "Get File Path", "type": "main", "index": 0 }],
        [{ "node": "Nicht Admin", "type": "main", "index": 0 }]
      ]
    },
    "Get File Path": {
      "main": [[{ "node": "Download Excel", "type": "main", "index": 0 }]]
    },
    "Download Excel": {
      "main": [[{ "node": "Excel zu JSON", "type": "main", "index": 0 }]]
    },
    "Excel zu JSON": {
      "main": [[{ "node": "Artikel extrahieren", "type": "main", "index": 0 }]]
    },
    "Artikel extrahieren": {
      "main": [[
        { "node": "Admin Bestaetigung", "type": "main", "index": 0 },
        { "node": "Kaeufer laden", "type": "main", "index": 0 }
      ]]
    },
    "Kaeufer laden": {
      "main": [[{ "node": "Kaeufer vorhanden?", "type": "main", "index": 0 }]]
    },
    "Kaeufer vorhanden?": {
      "main": [
        [{ "node": "Kaeufer benachrichtigen", "type": "main", "index": 0 }],
        []
      ]
    },

    "Webhook Artikel": {
      "main": [[{ "node": "Artikelliste vorbereiten", "type": "main", "index": 0 }]]
    },
    "Artikelliste vorbereiten": {
      "main": [[{ "node": "Respond Artikel", "type": "main", "index": 0 }]]
    },

    "Webhook Bestellung": {
      "main": [[{ "node": "Bestellung speichern", "type": "main", "index": 0 }]]
    },
    "Bestellung speichern": {
      "main": [[{ "node": "Erfolgreich?", "type": "main", "index": 0 }]]
    },
    "Erfolgreich?": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Bestaetigung an Kaeufer", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Bestaetigung an Kaeufer": {
      "main": [[{ "node": "Admin benachrichtigen", "type": "main", "index": 0 }]]
    },
    "Admin benachrichtigen": {
      "main": [[{ "node": "Hohe Menge?", "type": "main", "index": 0 }]]
    },
    "Hohe Menge?": {
      "main": [
        [{ "node": "Mengenwarnung an Admin", "type": "main", "index": 0 }],
        []
      ]
    },

    "Mittwoch 20:00": {
      "main": [[{ "node": "Auswertung vorbereiten", "type": "main", "index": 0 }]]
    },
    "Auswertung vorbereiten": {
      "main": [[{ "node": "Bestellungen vorhanden?", "type": "main", "index": 0 }]]
    },
    "Bestellungen vorhanden?": {
      "main": [
        [{ "node": "Zeilen aufteilen", "type": "main", "index": 0 }],
        [{ "node": "Keine Bestellungen", "type": "main", "index": 0 }]
      ]
    },
    "Zeilen aufteilen": {
      "main": [[{ "node": "Excel erstellen", "type": "main", "index": 0 }]]
    },
    "Excel erstellen": {
      "main": [[
        { "node": "Zusammenfassung senden", "type": "main", "index": 0 },
        { "node": "Excel senden", "type": "main", "index": 0 }
      ]]
    },
    "Excel senden": {
      "main": [[{ "node": "Aufraeumen", "type": "main", "index": 0 }]]
    },
    "Keine Bestellungen": {
      "main": [[{ "node": "Aufraeumen (keine Bestellungen)", "type": "main", "index": 0 }]]
    },

    "Webhook GET Bestellung": {
      "main": [[{ "node": "Bestellung per Token laden", "type": "main", "index": 0 }]]
    },
    "Bestellung per Token laden": {
      "main": [[{ "node": "Respond Bestellung", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "artikel": [],
      "bestellungen": {},
      "tokens": {},
      "bestellung_aktiv": false,
      "kaeufer": [],
      "angebot_datum": "",
      "webapp_url": "https://jade-alfajores-4f3440.netlify.app"
    }
  },
  "tags": [{ "name": "Yauno" }]
}
